/*
 Meta-data information
*/

manifest {
	description = 'This pipeline processes raw ATAC-seq data in allele-specific manner to identify peaks and generate signal tracks.'
	mainScript = 'allelic_ATAC-seq.nf'
	nextflowVersion = '20.04.1'
	version = '0.0.2'
	author = 'Yuvia A. PEREZ RICO'
}

/*
 Initialize parameters
*/

params {
	sampleInfo = '/scratch/user/analysis_ATAC-seq/sampleDescription.txt'
	chunkSize = 5000000
	G1 = 'C57BL-6J'
	G2 = 'CAST-EiJ'
	outDir = '/home/user/Documents/project_ATAC-seq_mESC_NPC'
	genomeDirPath = '/home/user/Documents/references/mm10/indexes/mm10_C57BL-6J_CAST-EiJ_masked'
	snpFile = '/home/user/Documents/references/mm10/SNPs_annotations/C57BL-6J_CAST-EiJ_SNPs_F1.txt.gz'
	chrmSizes = '/home/user/Documents/references/mm10/mm10.chrSize.txt'
	blackList = '/home/user/Documents/references/mm10/mm10_blacklist_280617.bed'
	rsATAC = '/scratch/user/analysis_ATAC-seq/plot_fragment_size_distribution.R'
	rsPeaks = '/scratch/user/analysis_ATAC-seq/plot_peak_distribution_features.R'
	readLen = 80
	tssFile = '/home/user/Documents/references/mm10/annotation/mm10_NCBI_RefSeq_TSS_nochrM.bed'
	pyScript = '/home/user/Documents/python_scripts/encode_task_tss_enrich.py'
	tmpOutDir = '${TMPDIR}'
	numCPUs = 10
	numCPUs_Dtools = 20
}

/*
 Set process requirements
*/

process {
	executor = 'slurm'
	scratch = '/scratch/user'
	memory = 20.GB
	time = 20.m
	cpus = 1

	withLabel: fastqQual {
		cpus = "${params.numCPUs}"
		memory = 3.GB
		time = 120.m
	}

	withLabel: fastq_splitting {
		memory = 1.GB
		time = 180.m
	}

	withLabel: filter_bams {
		cpus = "${params.numCPUs}"
		memory = 2.GB
		time = 15.m
	}

	withLabel: process_bams {
		memory = 30.GB
		time = 90.m
	}

	withLabel: macs {
		time = 50.m
	}

	withLabel: scR {
		memory = 5.GB
		time = 15.m
	}

	withLabel: tracks {
		cpus = "${params.numCPUs_Dtools}"
		memory = 40.GB
		time = 50.m
	}

	withName: get_program_versions {
		memory = 100.MB
		time = 30.s
	}

	withName: raw_pairs {
		memory = 1.GB
		time = 10.m
	}

	withName: trim_reads {
		memory = 1.GB
	}

	withName: read_mapping {
		cpus = "${params.numCPUs}"
		memory = 40.GB
		time = 50.m
	}

	withName: SNPsplit {
		memory = 10.GB
		time = 30.m
	}

	withName: filter_unassigned_bams {
		memory = 30.GB
		time = 150.m
	}

	withName: merge_mapped {
		memory = 30.GB
		time = 80.m
	}

	withName: allelic_reads {
		memory = 5.GB
		time = 30.m
	}

	withName: tn5_shift {
		memory = 30.GB
		time = 60.m
	}

	withName: hmm_peaks {
		cpus = "${params.numCPUs}"
		memory = 45.GB
		time = 3.h
	}

	withName: macs2_signal {
		time = 150.m
	}

	withLabel: size_factors1 {
		memory = 500.MB
	}

	withLabel: size_factors2 {
		memory = 20.G
		time = 60.m
	}

	withName: PCR_coeffs {
		cpus = "${params.numCPUs}"
		memory = 30.GB
		time = 120.m
	}

	withName: plot_tss {
		memory = 30.GB
		time = 120.m
	}

}

